$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;
$inter:'Inter', sans-serif;
//Colors
$blue:#345FF6;
$dark-blue:#253347;
$dark-grey: #5E6E85;
$light-grey:#D8E2E7;
$white:#FFFFFF;
$gradient: linear-gradient(0% &$blue,20% white);